@use "variables" as *;

#nitropack-preview-site-container {
    padding-bottom: 1.5rem;
    .progress-wrapper {
        margin-bottom: 2rem;
    }
    h1 {
        font-size: 1.25rem;
        color: $gray-700;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    .text-content {
        margin: 2rem 0;
        font-size: 1rem;
        color: $gray-600;
        p {
            font-size: 1rem;
            color: $gray-600;
        }
        ol {
            margin: .5rem 0 .5rem 1.25rem;
            li {
                margin: 0; 
            }
        }
    }
}
.modes-container {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    margin: 2rem 0;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}
.modes-container .mode {
    border: 1px solid $gray-300;
    border-radius: $border-radius;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-self: stretch;
    .mode-header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    .select-mode {
        margin-top: $gutter * 2;
        text-align: center;
        .icon {
            margin-right: 0.5rem;
        }
        &.selected {
            border: 0;
            pointer-events: none; // styles for selected mode
        }
    }
    h3 {
        margin-bottom: 0;
    }
    p {
        color: $gray-500;
    }
    &.active {
        border-color: $primary-color;
        background-color: $purple-50;
    }
}
.chevron-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0.5rem;
}
.go-live-container {
    gap: 1rem;
    display: flex;
}
//modal
#go-live-modal {
    .active-mode {
        font-weight: bold;
    }
}
.free-plan-info {
    margin-top: 1.5rem;
}
.nitropack-badge-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    border: 1px solid $divider-color;
    width: 32rem;
    margin: 0.5rem auto 0 auto;
    .logo-wrapper {
        position: relative;
    }
    .optimized-by {
        position: absolute;
        top: -7px;
        left: 27px;
        font-size: 0.45rem;
    }
    .badge-text {
        &:before {
            content: " | ";
            margin: 0 0.5rem;
        }
        font-size: 0.75rem;
        color: $gray-600;
    }
}
